* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.background {
	position: fixed;
	height: 100vh;
	width: 100vw;
	background: linear-gradient(to bottom right, #26252c, #171717);
	z-index: -1;
}

.hotbar {
	height: 10vh;
	width: 100vw;
	background-color: rgba(0,0,0,0.3);
	backdrop-filter: blur(30px);
	position: fixed;
}

.hb-text {
	position: fixed;
	left: 4vw;
	top: 4vh;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', Sans-Serif;
}

.logo {
	height: 50vw;
	width: 50vw;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 15vh;
	border-radius: 50%;
	box-shadow: 0 0 15px black;
	transition: transform 0.3s ease;
	border: 5px solid white;
}

@keyframes spin {
	from {transform: translateX(-50%) rotate(0deg) scale(1.01);}
	to {transform: translateX(-50%) rotate(360deg) scale(1.01);}
}

.logo:hover {
	animation: spin 10s linear Infinite;
}


